{% extends 'base.html.twig' %}

{% block title %}Gérer catégories{% endblock %}


{% block body %}




             <a class="button large"href=""



          </div>


    </div>
        <h1>{{ titre }}</h1>

        {{ form_start(form) }}

        {{ form_row(form) }}

        <input type="submit" value="Enregisttrer">
        {{ form_end(form) }}

    </div>

{% endblock %}
